@media (max-width: 1199px){

    /* nav for display block */

    .offcanvas-body .main-menu{
        display: block;
    }
}

@media (max-width: 991px){
    

    .me-5 a{
        margin-right: 0;
    }
}

@media (max-width: 768px){


    /* section-title h2 font size */

    .section-icon .section-title h2{
        font-size: 32px;
    }
    
}

@media (max-width: 600px){

    
    /* about section about list flex-direction: column */
    .about-lists{
        flex-direction: column;
    }

     /* about section about list width 100% and margin-bottom: 10px; */

    .about-lists li {
        width:100%;
        margin-bottom: 10px;
    }
    

    /* about item lists */

    .about-right .list-two-col li{
        flex: 0 0 100%;
        max-width: 100%;

    }
}

@media (max-width: 480px){
    
}

@media (min-width: 320px){
    
}